<br>

<br>
<%= link_to "HOME", root_path %>
<br>


<% @businesses.each do |business| %>

  <div class="ui list">
    <div class="item">
      <img class="ui image" src="<%= business[:image_url] %>"/>
      <div class="content">
        <a class="header" href=<%= business[:url] %>><%= business[:name] %></a>
        <div class="description">
          <li><img src="<%= business[:star_rating]%>" alt="<%= business[:rating] %>"/></li>
          <li><b> <%= business[:review_count] %> Reviews</b> </li>
          <li><%= business[:address] %></li>
          <li><%= business[:phone] %></li>
          <li><%= business[:categories] %></li>
        </div>
      </div>

    </div>
  </div>

<% end %>
