<h1>Less Wait for Your Plate</h1>

<%= form_tag(restaurant_path, method: "get") do %>
  <%= label_tag(:search, "search") %>
  <%= text_field_tag(:search) %>
  <%= hidden_field_tag :lat , "no-lat" %>
  <%= hidden_field_tag :lng , "no-lng" %>
  <%= submit_tag "Submit"%>

<% end %>
